<button mat-fab (click)="onClickUserInfo()">
  <mat-icon>person</mat-icon>
</button>

<div class="chat-container">
  <mat-card class="main-card">
    <mat-list class="chat-list">
      <mat-list-item *ngFor="let message of messages" class="single-msg"
        [ngClass]="[(message.action === undefined && message.from.id === user.id)? 'chat-list-item': '']">
        <ngx-avatar *ngIf="message.action === undefined" [name]="message.from.name" [src]="message.from.avatar">
        </ngx-avatar>
        <ng-container *ngIf="message.action === undefined && !message.location">
          <p mat-line>
            <span> {{message.content}} </span>
          </p>
          <p mat-line *ngIf="message.action === action.JOINED" class="chat-notification">
            <span translate> <strong>{{message.from.name}}</strong> joined to the conversation. </span>
          </p>
          <p mat-line *ngIf="message.action === action.RENAME" class="chat-notification">
            <span translate> <strong>{{message.content.previousUsername}}</strong> is now
              <strong>{{message.content.username}}</strong>
            </span>
          </p>
        </ng-container>

        <ng-container *ngIf="message.action === undefined && message?.image">
          <mat-card class="example-card">
            <img mat-card-image [src]="message?.image.url" alt=''>
            <mat-card-content *ngIf="message?.image?.caption">
              <p>message.image.caption </p>
            </mat-card-content>

          </mat-card>
        </ng-container>

        <ng-container *ngIf="message.action === undefined && message.location">
          <app-map [location]="message.location" (click)="isFullScreen = true"></app-map>
        </ng-container>
      </mat-list-item>
    </mat-list>
    <div class="chat-footer-container">
      <mat-icon>message</mat-icon>
      <mat-form-field class="chat-input">
        <input matInput #inputMessage maxlength="140" placeholder="{{'Type your message' | translate}}"
          [(ngModel)]="messageContent" (keyup.enter)="sendMessage(messageContent)">
        <mat-hint align="end">{{inputMessage.value.length}}/140</mat-hint>
      </mat-form-field>
      <button mat-fab [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>attach_file</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="sendLocation()">
          <mat-icon>location_on</mat-icon>
          <span>Location</span>
        </button>
        <button mat-menu-item (click)="fileInput.click()">
          <mat-icon>image</mat-icon>
          <span>Image</span>
          <input (change)="onFileSelected($event)" #fileInput type="file">
        </button>
      </mat-menu>
    </div>   
  </mat-card>
</div>